
body {
  background-color: rgb(119, 34, 34);
}

#board {
  width: 1140px;
  height: 640px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#middleLine{
  background-color: white;
  width: 1px;
  height: 640px;
  position: absolute;
  left: 570px;
}

#ball {
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  width: 20px;
  height: 20px;
  border-radius: 20px;
  position: absolute;
  top: 320px;
  left: 559px;
}

#leftPaddle{
  background-color: white;
  width: 15px;
  height: 110px;
  border-radius: 15px;
  position: absolute;
  top: 280px;
  left: 10px;
}

#rightPaddle{
  background-color: white;
  width: 15px;
  height: 110px;
  border-radius: 15px;
  position: absolute;
  top: 280px;
  left: 1115px;
}

#scorePlayer1{
 background-color: white;
}

#scorePlayer2{
  background-color: white;
}
