
body {
  background-color: rgb(119, 36, 36);
}

#board {
  width: 1140px;
  height: 640px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#middleLine{
  background-color: white;
  width: 1px;
  height: 640px;
  position: absolute;
  left: 570px;
}

#ball {
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  width: 20px;
  height: 20px;
  border-radius: 20px;
  position: absolute;
  top: 320px;
  left: 559px;
}

#leftPaddle{
  background-color: white;
  width: 15px;
  height: 110px;
  border-radius: 15px;
  position: absolute;
  top: 280px;
  left: 10px;
}

#rightPaddle{
  background-color: white;
  width: 15px;
  height: 110px;
  border-radius: 15px;
  position: absolute;
  top: 280px;
  left: 1115px;
}

#scorePlayer2{
 background-color: white;
  width: 110px;
  height: 110px;
  border-radius: 15px;
  position: absolute;
  top: 680px;
  left: 1020px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 48px;
  font-weight: bold;
  color: black;
}

#scorePlayer1{
  background-color: white;
  width: 110px;
  height: 110px;
  border-radius: 15px;
  position: absolute;
  top: 680px;
  left: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 48px;
  font-weight: bold;
  color: black;
}

#pong-text {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50px;
  left: 1460px;
}